.App {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
  }
  ul#menu li a {
    color:#be3f3f;
    display:block;
    text-decoration:none;
    width:100%;
  }
  .Recipe-directions{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
  }
  .row {
    float: left;
  }
  .Recipe {
      align-self: flex-start;
      float:left;
      margin-left: 5%;
      margin-right: 5%;
      text-align: center;
      padding:10px;
  }
  .IngredientInfo{
      display:flex;
      flex-direction: row;
      width:100%;
      text-align: left;
      justify-content: space-evenly;
  }
  #image {
    height: 300px;
      cursor: pointer;}
  #image img{
      border: 10px solid #f6f7f4;
      -webkit-box-shadow: 0px 0px 10px #000000;
      box-shadow: 0px 0px 10px #000000;
      transition:1s;
  }
  #image img:hover{
      transform: scale(1.5);
      box-shadow: 0px 0px 10px #000000;
      border: 5px solid #574d4d;
  }

  
  #imagesmall {
      height: 200px;
      cursor: pointer;}
  
  #imagesmall img{  
      border: 10px solid #f6f7f4;
      -webkit-box-shadow: 0px 0px 5px lightgray;
      box-shadow: 0px 0px 5px gray;
      transition:1s;
  }
  #imagesmall img:hover{
      transform: scale(1.2);
      box-shadow: 0px 0px 10px #000000;
      border: 5px solid #574d4d;
  }
  
  
  .column {
    float: left;
    width: 50%;
    padding-left: 350px;
  }