.Login {
    text-align: center;
    font-family:Comic Sans MS, Comic Sans;
    font-weight: bold;
    color: #343A40;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input{
    position:relative;
    border-radius: 5px;
    border: 1.5px solid #697DA1;
    width: 260px;
    height: 35px;
}
input:focus{
    border: 2px solid #343A40;
}
i {
    cursor: pointer;
    position:relative;
    top: 2px;
    right: 25px;

}
.pass-wrapper {
    margin-left: 17px;
}
i:hover {
    color: #00fcb6;
    cursor: pointer;
}
.error { border: 2px solid red; }