.myContainer{
    margin-top: 5%;
}
#inner {
    display: flex;
    margin: 0 auto;
  }

 #outer {
    font-family:Comic Sans MS, Comic Sans, cursive;
    width:100%;
    display: flex;
    justify-content: center;
    margin-top: 3%;
  }
  .buttonMy{
    width:100%;
    display: flex;
    justify-content: center;
  }